body{
    font-family: sans-serif;
    margin-top: 130px;
}

nav{
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    
}
p{
    font-size: 16px;
    color:dimgray;
}

.alinhar{
    text-align: justify;
}
h1,h2{
    font-family: 'Alfa Slab One', cursive;
}
h3,h4,h5{
   color:dimgray; 
}
table{
    border-collapse: collapse;
    width: 100%
}
table,th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}
th{
    background: black;
    color: white;
}
tr:hover {background-color: #f5f5f5;}

input[type=text] {
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 60%;
    background-color: Gold;
    }
input[type=text]:focus {
    border: 3px solid #555;
    }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: Gold;
    resize: none;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: Gold;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: gold;
    border: none;
    display: inline-block;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#menu{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background: white;
}
#menu ul {
    padding:0;
    padding-top: 46px;
    margin:0;
    list-style:none;
    text-align:right;
    
    }
#menu li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    }
#menu a {
    text-decoration: none;
    
    }
#rodape{
    background-color:LightSlateGray;
}
#rodape ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
    
    }
#rodape li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

#imagemladoalado {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

<!-------------------------------------------------------------------------------------------->

div.container {
    text-align: center;
    padding: 10px 20px;
}

.container{text-align: center;}

div.polaroid {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display:inline-block;
    margin-left:25px;
}
    
.IMG-inverno{
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#tudo{padding:6px;}

.centro1 {display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;">}
